$font1: "Jost";
$red: #D52027;
$blue: #141024;
$purple: #2B2739;

* {
    margin: 0;
    padding: 0;
}

// header

header{
    background-color: $blue;
    padding: 30px 0 0 0;
    height: 100vh;
}

.header-container{
    margin: 0;
    max-width: 1920px;
    padding: 0 100px;
}

.logo {
    font-family: $font1;
    font-weight: bold;
    color: white;
    font-size: 30px;
    line-height: 160%;
    &:hover {
        color: white;
    }
}

.link {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    &:hover {
        color: $purple;
    }
}

.nav-link1 {
    display: block;
    color: white;
    font-family: $font1;
    font-weight: 400;
    line-height: 160%;
}

.phone-link {
    font-family: $font1;
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;
    color: white;
}
.header-nav {
    gap: 40px;
    margin: 0 auto;
}

.burger {
    display: none;
}

.header__tel-icon {
    display: none;
}


// banner


.banner-container {
    max-width: 1160px;
}

.banner-text {
    gap: 20px;
}

.banner-title {
    font-family: $font1;
    font-size: 70px;
    color: white;
    font-weight: 600;
}

.banner-subtitle {
    font-family: $font1;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    color: white;
    margin-bottom: 30px;
}

.banner-button {
    padding: 25px 54px;
    background-color: $red;
    border-radius: 5px;
    color: white;
    font-family: $font1;
    font-size: 18px;
    line-height: 160%;
    border: none;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $purple;
        color: white;
    }
}

.banner-img {
    max-width: 783px;
}

.btn-modal {
    border-radius: 15px;
    padding: 10px 40px;
    background-color: $red;
    color: white;
    font-family: $font1;
    font-size: 18px;
    line-height: 160%;
    border: none;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $purple;
        color: white;
    }

}


// main

//about_us

.main-container {
    padding-top: 120px;
    padding-right: 0;
    padding-left: 0;
    max-width: 1160px;
}

.about_us_text {
    font-family: $font1;
    line-height: 160%;
    font-size: 30px;
    font-weight: 400;
}

.about_us {
    margin: 0 auto;
}

.bold {
    font-weight: 600;
}

.about_us_chisla {
    padding-top: 60px;
    padding-bottom: 120px;
}

.chisla_text {
    padding: 0 10px;
}

.chisla_title {
    font-family: $font1;
    color: $red;
    font-size: 70px;
    font-weight: 600;
}

.chisla_subtitle {
    color: $blue;
    font-family: $font1;
    font-size: 18px;
    font-weight: 400;
}


// advantages

.advantages_bg {
    background-color: #F9F9F9;
    padding: 100px 0;
    width: 100vw;
}

.advantages {
    max-width: 1160px;
    position: relative;
}

.advantages_title {
    font-family: $font1;
    font-size: 50px;
    font-weight: 600;
    line-height: 160%;
    color: $blue;
}

.advantages_subtitle {
    padding-top: 60px;
    gap: 40px;
    margin: 0 auto;
}

.advantages_text_title {
    font-family: $font1;
    font-size: 24px;
    line-height: 160%;
    font-weight: 600;
    color: $blue;
}

.advantages_text_subtitle {
    font-family: $font1;
    font-size: 18px;
    line-height: 160%;
    font-weight: 400;
    color: $blue;
    opacity: 70%;
    max-width: 360px;
}

.bs-tooltip-auto {
    margin-left: 115px !important;
}

.tooltip-inner {
    color: $blue !important;
    background-color: white !important;
    font-family: $font1 !important;
    font-size: 16px !important;
    line-height: 160% !important;
    font-weight: 400 !important;
    max-width: 1000px;
    padding: 15px 20px;
}

.tooltip-arrow::before {
    display: none;
}

.tooltip_img {
    cursor: pointer;
}




.trainers {
    position: relative;
    margin: 0 auto;
}

.trainers_title {
    font-family: $font1;
    font-size: 50px;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 60px;
    color: $blue;
}

.carousel-item_title {
    font-family: $font1;
    font-size: 24px;
    font-weight: 600;
    line-height: 160%;
    margin-top: 20px;
    margin-bottom: 0px;
    color: $blue;
}

.carousel-item_link {
    font-family: $font1;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    color: $red;
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
        color: $blue;
    }
}

.carousel-item_subtitle {
    font-family: $font1;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    margin-top: 10px;
    margin-bottom: 20px;
    color: $blue;
    opacity: 70%;
}

.trainers_slider {
    position: relative;
    margin: 0 auto;
}

.carousel-container {
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider_item {
    padding: 0 20px;
}

.carousel-controls {
    text-align: center;
    margin-top: 58px;
}

.carousel-controls button {
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    margin: 5px;
    background-color: white;
}

.carousel-controls button:hover {
    transform: scale(1.2);
}

.end {
    background-color: $blue;
    color: $blue;
    opacity: 100%;
    border: none;
    height: 3px;
    max-width: 440px;
    align-self: center;
    border-radius: 40px;
    margin: 60px auto;
}





.modal-body1 {
    padding: 40px;
}

.modal_img {
    max-width: 160px;
    padding-right: 40px;
}

.start-text_title {
    margin-top: 0;
}

.start-text_subtitle {
    margin-bottom: 10px;
}

.start-text_link {
    padding-right: 10px;
}

.start-text_link {
    text-decoration: none;
}


.modal_tabs {
    margin-top: 40px;
}

.nav-tabs {
    border-bottom: 1px solid #e5e5e7;
    padding-bottom: 20px;
}

.nav-link {
    border: none !important;
    transition: none;
    padding-left: 0;
    font-family: $font1;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%; 
    color: $blue;  
    padding-bottom: 0;
    padding-top: 0;
}

.modal_tab-text {
    padding-top: 20px;
    font-family: $font1;
    font-size: 20px;
    font-weight: 400;
    color: $blue;
    line-height: 160%;
}

.nav-link.active, .nav-link:hover {
    border: none;
    color: $red !important;
}

.nav-link.disabled {
    color: $blue !important;
    opacity: 20% !important;
}



















@media screen and (max-width:1440px) {
    .banner-img {
        max-width: 630px;
    }
    .banner-title {
        font-size: 60px;
    }
}


@media screen and (max-width: 1199px){
    .header-container {
        padding: 0 10px;
    }
    header {
        max-height: 700px;
        padding: 10px 0 0 0;
    }
    .logo {
        font-size: 25px;
    }
    .burger {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 3;
        transition: all 0.3s ease-in-out;
        opacity: 1;
    }
    .burger.hidden {
        z-index: -10;
        opacity: 0;
    }
    .header-nav.active {
        display: flex;
        right: 0;
        transition: 0.5s ease;
        right: 0;
        z-index: 3;
        width: 320px;
    }
    .header-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
        align-items: center;
        background-color: #141024;
        height: 100vh;
        position: absolute;
        right: 0px;
        width: 0;
        top: 0;
        transition: 0.5s ease;
        gap: 20px;
    }
    .phone-link {
        display: none;
    }
    .header__tel-icon {
        position: absolute;
        display: flex;
        z-index: 1;
        right: 64px;
        top: 10px;
        opacity: 1;
        transition: 0.7s ease;
    }
    .header__tel-icon.hidden {
        opacity: 0;
        transition: 0.3s ease;
    }
    .nav-link1 {
        opacity: 0;
        font-size: 0;
        white-space: nowrap;
        transition: 0.5s ease;
    }
    .nav-link1.active {
        display: block;
        opacity: 1;
        font-size: 30px;
        transition: 0.5s ease;
    }
    .banner-title {
        font-size: 50px;
    }




    .main-container {
        max-width: 1000px;
        padding-top: 60px;
    }
    .about_us_chisla {
        gap: auto;
        padding-bottom: 40px;
    }



    .advantages_bg {
        padding: 40px 0;
    }
    .advantages_subtitle {
        padding-top: 40px;
    }
}


@media screen and (max-width: 992px) {
    header {
        height: 100vh;
        max-height: 700px;
    }
    .banner-title {
        margin-top: 47px;
        font-size: 30px;
        text-align: center;
        z-index: 10;
    }
    .banner-subtitle {
        font-size: 16px;
        text-align: center;
        z-index: 10;
    }
    .banner-button {
        padding: 0;
        z-index: 2;
        position: absolute;
        top: 600px;
        max-width: 500px;
        padding: 20px 0;
    }
    .banner-img {
        position: absolute;
        z-index: 0;
        top: 200px;
        max-height: 500px;
    }
}

@media screen and (max-width: 768px) {
    .about_us_text {
        font-size: 20px;
    }
    .chisla_1, .chisla_2 {
        gap: 20px;
    }



    .advantages_title {
        font-size: 30px;
        line-height: 140%;
    }
    .advantages_text_title {
        font-size: 20px;
    }
    .advantages_text_subtitle {
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    header {
        position: relative;
        max-height: 680px;
    }
    .banner-img {
        position: absolute;
        padding: 0px 24px;
        width: 100vw;
        bottom: 0;
        top: auto;
    }
    .banner-button {
        top: auto;
        bottom: 10px;
    }
    .logo {
        font-size: 18px;
    }
    .chisla_subtitle {
        font-size: 16px;
    }
    .chisla_title {
        font-size: 60px;
    }
    
}